<!DOCTYPE html>
<html lang="{{request.locale_name}}">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="A simple website monitor that checks your sites every N seconds, sends Slack notifications when status changes, with a dashboard">
        <meta name="author" content="Jack Desert">
        <link rel="shortcut icon" href="{{request.static_url('monitor:static/pyramid-16x16.png')}}">

        <title>Website Monitor</title>

        <!-- Custom styles for this scaffold -->
        <link href="{{request.static_url('monitor:static/style.css')}}" rel="stylesheet">
    </head>

    <body>

        {% block content %}
            <p>No content</p>
        {% endblock content %}
        <div class='footer'>
            Source Code on <a class='up inline' href='//github.com/jackdesert/website-monitor'>GitHub</a>
        </div>
    </body>
</html>
